body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif; /* Font normale per il testo */
}

.background {
    background-image: url('Vane.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: flex-end; /* Posiziona il contenitore a destra */
    align-items: center;
    padding-right: 10vw; /* Usa vw per una dimensione più reattiva */
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 0, 0.8); /* Sfondo giallo trasparente per il testo */
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black; /* Traccia nera */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Aggiungi ombra al riquadro */
}

.large-number, #countdown, p {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Aggiungi ombra al testo */
}

.large-number {
    font-size: 3em;
    display: block;
    margin-bottom: 10px;
    color: pink; /* Colore rosa per il numero -50 */
}

#countdown {
    font-family: 'Impact', sans-serif; /* Font Impact per il countdown */
    font-size: 3em; /* Aumenta la dimensione del font del countdown */
    margin-bottom: 20px;
    color: pink; /* Colore rosa per il countdown */
}

p {
    margin-top: 20px;
    font-size: 1.2em;
    color: black; /* Colore del testo per migliorare il contrasto */
}
