body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    text-align: center;
}

.background {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.background img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.background img.desktop {
    display: none;
}

.background img.mobile {
    display: block;
}

@media(min-width: 768px) {
    .background img.desktop {
        display: block;
    }
    .background img.mobile {
        display: none;
    }
}

.container {
    background-color: rgba(255, 255, 0, 0.7);
    padding: 20px;
    border: 2px solid #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 1;
    text-align: center;
}

h1 {
    font-size: 2em;
}

.countdown-number {
    font-size: 2.5em; /* La dimensione è adattata per l'aspetto visivo */
    color: pink; /* Colore rosa */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

#countdown {
    font-size: 1.5em; /* Ridotto per adattarsi meglio */
    color: pink; /* Colore rosa */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

/* Stili aggiuntivi per il mobile */
@media(max-width: 767px) {
    .background img.mobile {
        object-fit: cover; /* Assicura che l'immagine si adatti al contesto mobile */
    }
    .container {
        position: absolute;
        top: 20px; /* Aggiungi un margine superiore per il mobile */
        left: 50%;
        transform: translateX(-50%); /* Centra il contenitore orizzontalmente */
        padding: 10px; /* Ridotto per il mobile */
    }
}
