body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif; /* Font normale per il testo */
}

.background {
    background-image: url('Vane.jpg'); /* Immagine di sfondo predefinita */
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: flex-end; /* Posiziona il contenitore a destra */
    align-items: center;
    padding-right: 10vw; /* Usa vw per una dimensione più reattiva */
}

/* Stili per i dispositivi mobili */
@media only screen and (max-width: 768px) {
    .background {
        background-image: url('Vane-1080x1920.jpg'); /* Immagine di sfondo per dispositivi mobili */
        justify-content: center; /* Centrato orizzontalmente */
        align-items: flex-start; /* Allineamento in alto */
        padding-right: 0; /* Rimuove il padding destro */
        padding-top: 20px; /* Aggiunge margine in alto */
        padding-bottom: 20px; /* Aggiunge margine in basso */
    }

    .container {
        position: relative;
        top: 0; /* Allinea il contenitore in alto */
        margin: 0 auto; /* Centra il contenitore orizzontalmente */
        padding: 20px;
        width: 90%; /* Imposta una larghezza più piccola per i dispositivi mobili */
        box-sizing: border-box; /* Include padding e bordo nella larghezza totale */
    }
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 0, 0.8); /* Sfondo giallo trasparente per il testo */
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black; /* Traccia nera */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Aggiungi ombra al riquadro */
}

.large-number, #countdown, p {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Aggiungi ombra al testo */
}

.large-number {
    font-size: 3em;
    display: block;
    margin-bottom: 10px;
    color: pink; /* Colore rosa per il numero -50 */
}

#countdown {
    font-family: 'Impact', sans-serif; /* Font Impact per il countdown */
    font-size: 3em; /* Aumenta la dimensione del font del countdown */
    margin-bottom: 20px;
    color: pink; /* Colore rosa per il countdown */
}

p {
    margin-top: 20px;
    font-size: 1.2em;
    color: black; /* Colore del testo per migliorare il contrasto */
}
